<% provide :page_title, 'Dashboard' %>

<div class="container-fluid">

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Products</h5>
          <p class="card-text"><strong><%= @products_count %></strong> total products</p>
          <%= link_to 'View Products', products_path, class: 'btn btn-sm btn-primary' if can?(:read, Product) %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Categories</h5>
          <p class="card-text"><strong><%= @categories_count %></strong> total categories</p>
          <%= link_to 'View Categories', categories_path, class: 'btn btn-sm btn-primary' if can?(:read, Category) %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Unit of Measurement</h5>
          <p class="card-text"><strong><%= @unit_of_measurements_count %></strong> total UOMs</p>
          <%= link_to 'View UOMs', unit_of_measurements_path, class: 'btn btn-sm btn-primary' if can?(:read, UnitOfMeasurement) %>
        </div>
      </div>
    </div>
  </div>
</div>
