<p style="color: green"><%= notice %></p>

<%= render @uom %>

<div>
  <%= link_to "Edit this uom", edit_uom_path(@uom) %> |
  <%= link_to "Back to uoms", uoms_path %>

  <%= button_to "Destroy this uom", @uom, method: :delete %>
</div>
