<% content_for :page_title, "City" %>

<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="card-tools">
      <%= link_to new_city_path, class: "btn btn-sm btn-primary" do %>
        <i class="fas fa-plus"></i> New City
      <% end %>
    </div>
  </div>

  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap mb-0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Province</th>
          <th>Sku</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @cities.each do |city| %>
          <tr>
            <td><%= city.name %></td>
            <td><%= city.province.name %></td>
            <td><%= city.sku %></td>
            <td><%= city.description %></td>
            <td class="text-right">
              <%= link_to edit_city_path(city), class: "btn btn-sm btn-warning", title: "Edit" do %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>
              <%= button_to city_path(city), method: :delete, form: { class: "d-inline" }, class: "btn btn-sm btn-danger city-show-delete-modal", title: "Delete", data: {
                url: city_path(city),
                name: city.name,
                sku: city.sku
              } do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="mt-3 d-flex justify-content-center">
      <%= paginate @cities %>
    </div>
  </div>
</div>
