<% content_for :page_title, "Category" %>

<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="card-title">Category</h3>
    <div class="card-tools">
      <%= link_to "New Category", new_category_path, class: "btn btn-sm btn-primary" %>
    </div>
  </div>

  <div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap mb-0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Sku</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= category.sku %></td>
            <td><%= category.description %></td>
            <td>
              <%= link_to "Show", category_path(category), class: "btn btn-sm btn-outline-secondary" %>
              <%= link_to "Edit", edit_category_path(category), class: "btn btn-sm btn-outline-primary" %>
              <%= button_to "Delete",category_path(category),method: :delete,data: { confirm: "Are you sure?" },form: { class: "d-inline" },class: "btn btn-sm btn-outline-danger"%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
