<% content_for :page_title, "Product Details" %>

<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%= @product.name %></h3>
    <div class="card-tools">
      <%= link_to "Edit", edit_product_path(@product), class: "btn btn-sm btn-primary" %>
      <%= link_to "Back", products_path, class: "btn btn-sm btn-secondary" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center p-4">

      <div id="productCarousel" class="carousel slide">
        <div class="carousel-inner">

          <% if @product.cover_image.attached? %>
            <div class="carousel-item active">
              <img 
                src="<%= url_for(@product.cover_image) %>"
                class="gallery-main-img zoom-hover"
                data-full="<%= url_for(@product.cover_image) %>"
              >
            </div>
          <% end %>

          <% @product.preview_images.each_with_index do |img, index| %>
            <div class="carousel-item <%= 'active' if !@product.cover_image.attached? && index == 0 %>">
              <img 
                src="<%= url_for(img) %>"
                class="gallery-main-img zoom-hover"
                data-full="<%= url_for(img) %>"
              >
            </div>
          <% end %>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>

      <div class="gap-2 mt-3 flex-wrap">

        <% if @product.cover_image.attached? %>
          <img 
            src="<%= url_for(@product.cover_image) %>"
            class="thumb-img"
            data-index="0"
          >
        <% end %>

        <% @product.preview_images.each_with_index do |img, i| %>
          <img 
            src="<%= url_for(img) %>"
            class="thumb-img"
            data-index="<%= @product.cover_image.attached? ? i+1 : i %>"
          >
        <% end %>

      </div>

    </div>


  </div>

  <div class="modal fade" id="fullscreenGalleryModal" tabindex="-1">
    <div class="modal-dialog ">
      <div class="modal-content bg-dark text-center">
        <span class="modal-close-btn" data-bs-dismiss="modal">&times;</span>
        <img id="fullscreenImage" class="img-fluid">
      </div>
    </div>
  </div>


  <div class="card-body">
    <p><strong>SKU:</strong> <%= @product.sku %></p>
    <p><strong>Category:</strong> <%= @product.category.name %></p>
    <p><strong>Unit Of Measurement:</strong> <%= @product.unit_of_measurement.name %></p>
    <p><strong>Description:</strong> <%= @product.description %></p>
    <p><strong>Status:</strong> <%= @product.status_product %></p>
    <p><strong>Price:</strong> <%= number_to_currency(@product.price) %></p>
  </div>
</div>